.cardElement {
    display: flex;
    padding: 30px;
    margin: 2% auto;
    /* justify-content: center;
    align-items:center; */
    background-color: whitesmoke;
    border-radius: 1%;
    height: 200px;
    width: 60%;
}

.cardContents{
    justify-content: center;
    align-self:center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.cardHeader {
    font-size: 4rem;
    justify-content: center;
    align-self:center;
    margin: 2%;
}

.cardText {
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    margin: 5%;
    color: darkslategray;
}

.cardElement > img{
    border-radius: 10%;
    height: 100%;
    display: block;
}

ol {
    justify-content: center;
}