/* body{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
} */

*{
    padding: 0; 
    margin: 0;
}

h1 {
    font-size: 3rem;
}

.top3kiwi{
    text-align: center;
    list-style-position: inside;
}

li {
    display: flex;
    padding: 50px;
    margin: 5%;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    border-radius: 1%;
    height: 250px;
}

.cardHeader {
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.cardText {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

li > img{
    border-radius: 10%;
    height: 100%;
    align-self: flex-start;
}

.navbar{
    background-color: aqua;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.navbar ul{
    width: 100%;
    flex: 1 1 auto;
    text-align: center;
    font-size: larger;
}

.navbar a{
    display: block;
    padding: 1rem;
    color: green;
    text-decoration: none;
}
