*{ /* fjerner innebygd top margin */
    padding: 0; 
    margin: 0;
    text-align: center;
}

section { /* alle sections skal ha generell padding */
    text-align: center;
    list-style-position: inside;
    margin: 2.5% 10%;

}

h1 {
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

p {
    font-size: 1.5rem;
}

header ul{
    display: flex;
    justify-content: space-evenly; 
    background-color:rgb(56, 56, 56);
    padding: 2.5% 1%;
    text-align: center;

}

header li{
    list-style: none;
    display: inline-flex;
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    justify-content: center; 
    text-align: center;

    
}

header li a {
    text-decoration: none;
    color: white;
}

svg {
    fill:white;
    height: 100%;
    width: auto;
}

.homeicon {
    width: 10%;
}

.pages {
    width: 90%;
}