*{ /* fjerner innebygd top margin */
  
    padding: 0; 
    margin: 0;
    text-align: center;
}

section { /* alle sections skal ha generell padding */
    text-align: center;
    list-style-position: inside;
    margin: 5% 15%;

}

h1 {
    font-size: 5rem;
    margin-top: 10%;
    margin-bottom: 5%;
}

p {
    font-size: 2rem;
}

header ul{
    display: flex;
    justify-content: center; 
    background-color:rgb(56, 56, 56);
    padding: 5% 2.5%;
    text-align: center;

}

header li{
    list-style: none;
    display: inline-flex;
    font-size: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    justify-content: center; 
    text-align: center;

    
}

header li a {
    text-decoration: none;
    color: white;
}
